body{
    background-color: #1d1d1d;
}
h1 {
    text-align: center;
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}

header {
    background-color: #1d1d1d;
    padding: 18px 5%;
}
main {
    display: flex;
    justify-content: center; /* Centraliza o formulário horizontalmente */
    padding-top: 120px; /* Espaço para compensar a navbar fixa */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px; /* Largura máxima para o formulário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* Centraliza o formulário horizontalmente */
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px 0; /* Ajusta o padding para cima e baixo */
    border: none; /* Remove as bordas */
    border-bottom: 2px solid #ddd; /* Adiciona uma borda apenas na parte inferior */
    font-size: 16px;
    background-color: transparent; /* Remove qualquer cor de fundo */
    box-sizing: border-box;
    color: white;
}

input[type="text"]:focus, input[type="email"]:focus {
    outline: none; /* Remove o contorno ao focar */
    border-bottom: 2px solid #4CAF50; /* Borda inferior em verde ao focar */
    box-shadow: none; /* Remove qualquer sombra */
}

button {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para a linha separadora */
.separator-line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

/* Estilo da mensagem */
.message-box {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    z-index: 1000;
    animation: slideDown 0.5s forwards;
}

.message-box.success {
    background-color: #4CAF50;
}

.message-box.error {
    background-color: #F44336;
}

@keyframes slideDown {
    from {
        top: -100px;
    }
    to {
        top: 20px;
    }
}
